<?xml version="1.0"?>

<config>
    <modules>
        <Atom_Paynetz>
            <version>0.1.0</version>
        </Atom_Paynetz>
    </modules>
    <global>
        <models>
            <paynetz>
                <class>Atom_Paynetz_Model</class>
                <resourceModel>paynetz_mysql4</resourceModel>
            </paynetz>
            <paynetz_mysql4>
                <class>Atom_Paynetz_Model_Mysql4</class>
                <entities>
                    <api_debug><table>paynetz_api_debug</table></api_debug>
                </entities>
            </paynetz_mysql4>
        </models>
        <resources>
            <paynetz_setup>
                <setup>
                    <module>Atom_Paynetz</module>
                    <class>Atom_Paynetz_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paynetz_setup>
            <paynetz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paynetz_write>
            <paynetz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paynetz_read>
        </resources>
        <blocks>
            <paynetz><class>Atom_Paynetz_Block</class></paynetz>
        </blocks>
		<helpers>
            <paynetz>
                <class>Atom_Paynetz_Helper</class>
            </paynetz>
        </helpers>
        <payment>
            <cc>
                <types>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                        <order>60</order>
                    </DI>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                        <order>61</order>
                    </JCB>
                    <DICL>
                        <code>DICL</code>
                        <name>Diners Club</name>
                        <order>62</order>
                    </DICL>
                    <ENR>
                        <code>ENR</code>
                        <name>enRoute</name>
                        <order>63</order>
                    </ENR>
                    <SS>
                        <code>SS</code>
                        <name>Switch/Solo</name>
                        <order>64</order>
                    </SS>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <paynetz_standard>/paynetz/standard</paynetz_standard>
        </secure_url>
        <routers>
            <paynetz>
                <use>standard</use>
                <args>
                    <module>Atom_Paynetz</module>
                    <frontName>paynetz</frontName>
                </args>
            </paynetz>
        </routers>
        <translate>
            <modules>
                <Atom_Paynetz>
                    <files>
                        <default>Atom_Paynetz.csv</default>
                    </files>
                </Atom_Paynetz>
            </modules>
        </translate>
        <layout>
            <updates>
                <paynetz>
                    <file>paynetz.xml</file>
                </paynetz>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Atom_Paynetz>
                    <files>
                        <default>Atom_Paynetz.csv</default>
                    </files>
                </Atom_Paynetz>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <paynetz_standard>
                  <model>paynetz/standard</model>
                  <title>Atom Paynetz</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </paynetz_standard>
        </payment>
    </default>
     <crontab>
        <jobs>            
            <paynetz_crontest>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>paynetz/cron::cronTest</model></run>
            </paynetz_crontest>
        </jobs>
    </crontab>    
</config>