.prototypeLoader {
    background: url(bg.png) 50% 50% no-repeat;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 30000;
}

.prototypeLoader img {
    display: block;
    margin: 7px 0 0 7px;
}
