<?xml version="1.0"?>
<!--
/**
 * Ultimate_Slider extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Images & Media
 * @package        Ultimate_Slider
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    
    
    <modules>
        <Ultimate_Slider>
            <version>1.0.6</version>
        </Ultimate_Slider>
    </modules>


    <global>

        <models>
            <ultimate_slider>
                <class>Ultimate_Slider_Model</class>
                <resourceModel>ultimate_slider_resource</resourceModel>
            </ultimate_slider>
            <ultimate_slider_resource>
                <class>Ultimate_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>ultimate_slider_slider</table>
                    </slider>
                </entities>
            </ultimate_slider_resource>
        </models>

        <helpers>
            <ultimate_slider>
                <class>Ultimate_Slider_Helper</class>
            </ultimate_slider>
        </helpers>

        <blocks>
            <ultimate_slider>
                <class>Ultimate_Slider_Block</class>
            </ultimate_slider>
        </blocks>

        <resources>
            <ultimate_slider_setup>
                <setup>
                    <module>Ultimate_Slider</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ultimate_slider_setup>
        </resources>

    </global>


    <adminhtml>
        <layout>
            <updates>
                <ultimate_slider>
                    <file>ultimate_slider.xml</file>
                </ultimate_slider>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ultimate_Slider before="Mage_Adminhtml">Ultimate_Slider_Adminhtml</Ultimate_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>


    <frontend>
        <routers>
            <ultimate_slider>
                <use>standard</use>
                <args>
                    <module>Ultimate_Slider</module>
                    <frontName>ultimate_slider</frontName>
                </args>
            </ultimate_slider>
        </routers>
        <layout>
            <updates>
                <ultimate_slider>
                    <file>ultimate_slider.xml</file>
                </ultimate_slider>
            </updates>
        </layout>
    </frontend>

    <!--Set Default Values for system.xml-->
    <default>
        <ultimate_slider>
            <slider>
                <enabled>1</enabled>
                <breadcrumbs>1</breadcrumbs>
                <items_per_slide></items_per_slide>
                <roll_slides_active>0</roll_slides_active>
            </slider>
        </ultimate_slider>
    </default>

</config>
